<mat-card class="h-100 position-sticky sticky-top">
  <mat-card-header class="app-header w-100">
    <h2 mat-card-title>{{title}}</h2>
    <mat-card-subtitle class="pb-2 app-subtitle w-100">
      <ng-content></ng-content>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="flex-grow-1 p-0">
    <div class="ace-wrapper h-100 w-100" (onResize)="onResized($event)">
      <div #editor class="w-100 h-100"></div>
      <div *ngIf="placeholders"
           class="app-placeholders">
        <mat-chip-listbox>
          <mat-chip *ngFor="let placeholder of placeholders">{{placeholder}}</mat-chip>
        </mat-chip-listbox>
      </div>
    </div>
  </mat-card-content>
</mat-card>
