@import "bootstrap/scss/bootstrap";
@import "styles/theming";
@import "styles/table";
@import "styles/spinner";

::-moz-selection {
  background-color: #E92E2E;
  color: $light;
}

::selection {
  background-color: #E92E2E;
  color: $light;
}

html, body {
  height: 100%;
}

body {
  color: white;
  overflow-x: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #999;
}

h1 {
  font-size: 24px;
  margin: 0;
}

h2 {
  font-size: 20px;
}
