<h2 mat-dialog-title>Work in Progress</h2>
<div mat-dialog-content>
  <p>
    Please note that this site is currently under development and only accessible to a selected group of individuals. If you are not a member of this group, the site will not be functional for you.
  </p>
  <p>
    We appreciate your understanding and patience. Once the development is complete, the site will become fully accessible and functional for all users.
  </p>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
</div>
